<h1>Navigator</h1>
<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item bg-danger text-light">Courses</li>
      <li class="list-group-item webdev"
          (click)="selectCourse(course.id)"
          [ngClass]="{'active': course.id=== selectedCourseId}"
          *ngFor="let course of courses">
        {{course.title}}</li>
    </ul>

  </div>
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Modules </li>
      <li class="list-group-item webdev"
          (click)="selectModule(module.id)"
          [ngClass]="{'active': module.id=== selectedModuleId}"

          *ngFor="let module of modules">{{module.title}}
      </li>
    </ul>
  </div>

  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Lessons</li>
      <li (click)="selectLesson(lesson.id)"
          [ngClass]="{'active': lesson.id === selectedLessonId}"
          class="list-group-item webdev"
          *ngFor="let lesson of lessons">
          {{lesson.title}}
      </li>
    </ul>
  </div>
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">Topics</li>
      <li class="list-group-item"
          *ngFor="let topic of topics">
          {{topic.title}}
      </li>
    </ul>
  </div>
</div>
