<h3>Module List for Course Id: {{courseId}}</h3>
<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item bg-danger text-light">Modules</li>
      <li
        [ngClass]="{'active':module.id == moduleId}"
        *ngFor="let module of modules" class="list-group-item webdev">
        <a routerLink="/course/{{courseId}}/module/{{module.id}}">{{module.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <app-lesson-tabs></app-lesson-tabs>
  </div>

</div>


