<nav class="navbar navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <div class="col-md-2 col-sm-3 col-3">
      <button class="navbar-toggler " type="button" data-toggle="collapse"
              data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-4 d-none d-md-block d-lg-block">
      <label class="navbar-brand">WhiteBoard</label>
    </div>

    <div class="col-md-6 col-sm-9 col-9">
    </div>
  </div>
</nav>
